**/.idea/shelf
**/.idea/dictionaries
**/.idea/libraries
**/.idea/modules
**/.idea/modules.xml
**/.idea/uiDesigner.xml
**/.idea/workspace.xml
**/.idea/assetWizardSettings.xml
**/.idea/render.experimental.xml
**/.idea/gradle.xml
**/.idea/compiler.xml
**/.idea/appInsightsSettings.xml
**/.idea/misc.xml
**/.idea/*.iml
**/.idea/deploymentTargetSelector.xml
**/.idea/deploymentTargetDropDown.xml
**/.idea/dbnavigator.xml
**/.idea/caches/deviceStreaming.xml
**/.name
.kotlin
/**/.kotlin/*
build
/**/build/*
.gradle
/**/.gradle/*
local.properties
/**/local.properties
settings.gradle.kts
.DS_STORE