{"openapi":"3.0.1","info":{"title":"SP Ecosystem API","version":"1.0"},"servers":[{"url":"https://st-widget.ogon.ru/"}],"paths":{"/sitemap":{"get":{"tags":["Contents"],"summary":"Получить sitemap.xml","operationId":"Contents_GetSitemapIndex","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}}}},"/sitemap/{name}/{sub_name}":{"get":{"tags":["Contents"],"summary":"Получить sitemap раздела","operationId":"Contents_GetSitemap","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"sub_name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}}}},"/v1/assigned_multipliers/{assigned_multiplier_id}":{"patch":{"tags":["Subscriptions"],"operationId":"Subscriptions_ChangeAssignedMultiplier","parameters":[{"name":"assigned_multiplier_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangeAssignedMultiplierParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1AssignedMultiplier"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"x-codegen-request-body-name":"body"}},"/v1/banners":{"get":{"tags":["Contents"],"summary":"Информация о баннерах","operationId":"Contents_GetBannersList","parameters":[{"name":"filter.ids","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"filter.names","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.statuses","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_STATUS_UNSPECIFIED","BANNER_STATUS_ACTIVE","BANNER_STATUS_INACTIVE"]}}},{"name":"filter.view_types","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_VIEW_TYPE_UNSPECIFIED","BANNER_VIEW_TYPE_AUTHORIZED","BANNER_VIEW_TYPE_UNAUTHORIZED"]}}},{"name":"filter.distribution","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["APPLICATION_TYPE_UNSPECIFIED","APPLICATION_TYPE_MOBILE_APP","APPLICATION_TYPE_WIDGET","APPLICATION_TYPE_SITE"]}}},{"name":"filter.sections","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_SECTION_UNSPECIFIED","BANNER_SECTION_SUBSCRIPTION","BANNER_SECTION_MEDIA","BANNER_SECTION_NEWS"]}}},{"name":"filter.types","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_TYPE_UNSPECIFIED","BANNER_TYPE_TOP_THREE","BANNER_TYPE_TOP_SOON_IN_SUBSCRIPTION","BANNER_TYPE_ADV_TARGET","BANNER_TYPE_NEWS_ADV_BLOCK","BANNER_TYPE_MAIN_SUBSCRIPTION"]}}},{"name":"filter.states","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_STATE_UNSPECIFIED","BANNER_STATE_PUBLISHED","BANNER_STATE_ARCHIVE","BANNER_STATE_DRAFT","BANNER_STATE_WAIT"]}}},{"name":"filter.weights","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"filter.user_subscription_state","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["BANNER_USER_SUBSCRIPTION_STATE_UNSPECIFIED","BANNER_USER_SUBSCRIPTION_STATE_ALL","BANNER_USER_SUBSCRIPTION_STATE_SUBSCRIBED","BANNER_USER_SUBSCRIPTION_STATE_UNSUBSCRIBED"]}}},{"name":"paginator.offset","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"paginator.limit","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetBannersListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/banners/{banner_id}":{"get":{"tags":["Contents"],"summary":"Получить баннер","operationId":"Contents_GetBannerById","parameters":[{"name":"banner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Banner"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/click/{hash}":{"get":{"tags":["Click"],"summary":"Получить полную ссылку по короткой ссылке","operationId":"Click_GetShortLink","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/content/logo/{hash}":{"get":{"tags":["Contents"],"summary":"Получить картинку по хешу","operationId":"Contents_GetLogoHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"v","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"tid","in":"query","schema":{"type":"string"}},{"name":"t","in":"query","schema":{"type":"string"}},{"name":"cid","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"cn","in":"query","schema":{"type":"string"}},{"name":"cs","in":"query","schema":{"type":"string"}},{"name":"ec","in":"query","schema":{"type":"string"}},{"name":"ea","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}}}},"/v1/documents":{"get":{"tags":["Contents"],"summary":"Информация о документах","operationId":"Contents_GetDocumentsList","parameters":[{"name":"filter.ids","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"filter.types","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["DOCUMENT_TYPE_UNSPECIFIED","DOCUMENT_TYPE_PRIVACY","DOCUMENT_TYPE_PAYMENT_RULES","DOCUMENT_TYPE_USE_TERMS","DOCUMENT_TYPE_PERSONAL_DATA","DOCUMENT_TYPE_ADVERTISING","DOCUMENT_TYPE_PROMO_VIRTUAL_CARD","DOCUMENT_TYPE_PROMO_DISCOUNT","DOCUMENT_TYPE_PROMO_TURN_OFF","DOCUMENT_TYPE_PROMO_SPECIAL_OFFERS","DOCUMENT_TYPE_PROMO_SEPTEMBER_2021","DOCUMENT_TYPE_PROMO_PARTNERS_ECO_PROMOCODES","DOCUMENT_TYPE_REFERRAL","DOCUMENT_TYPE_BACKUP_POLICY","DOCUMENT_TYPE_CORPORATE_CLIENT_USE_TERMS","DOCUMENT_TYPE_SECURE_PAYMENTS","DOCUMENT_TYPE_PLUS_INFO_USE_TERMS"]}}},{"name":"filter.statuses","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["DOCUMENT_STATUS_UNSPECIFIED","DOCUMENT_STATUS_ACTIVE","DOCUMENT_STATUS_INACTIVE"]}}},{"name":"filter.states","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string","enum":["DOCUMENT_STATE_UNSPECIFIED","DOCUMENT_STATE_WAIT","DOCUMENT_STATE_PUBLISHED","DOCUMENT_STATE_ARCHIVE"]}}},{"name":"filter.tech_versions","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"filter.versions","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"paginator.offset","in":"query","schema":{"type":"integer","format":"int64"}},{"name":"paginator.limit","in":"query","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetDocumentsListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/documents/{document_id}":{"get":{"tags":["Contents"],"summary":"Получить документ","operationId":"Contents_GetDocumentById","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Document"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/banners":{"get":{"tags":["ErpContent"],"summary":"Информация о баннерах","operationId":"ErpContent_GetBannersList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetBannersListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpContent"],"summary":"Create banner","description":"Create banner","operationId":"ErpContent_CreateBanner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1BannerParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Banner"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/banners/{banner_id}":{"get":{"tags":["ErpContent"],"summary":"Получить баннер по id","operationId":"ErpContent_GetBannerById","parameters":[{"name":"banner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Banner"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["ErpContent"],"summary":"Change banner","description":"Change banner","operationId":"ErpContent_ChangeBanner","parameters":[{"name":"banner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1BannerParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Banner"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/click/short-links":{"get":{"tags":["ErpClick"],"summary":"Список коротких ссылок","operationId":"ErpClick_GetShortLinkList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetShortLinkListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpClick"],"summary":"Создать короткую ссылку","operationId":"ErpClick_CreateShortLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ShortLinkParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreateShortLinkResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/click/short-links/{short_link_id}":{"get":{"tags":["ErpClick"],"summary":"Информация о короткой ссылке","operationId":"ErpClick_GetShortLinkById","parameters":[{"name":"short_link_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ShortUrl"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpClick"],"summary":"Изменение информации о короткой ссылке","operationId":"ErpClick_ChangeShortLink","parameters":[{"name":"short_link_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ShortLinkParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangeShortLinkResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/content/references":{"get":{"tags":["ErpContent"],"summary":"Получить список справочников по контенту","operationId":"ErpContent_GetReferences","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ContentReferences"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/documents":{"get":{"tags":["ErpContent"],"summary":"Информация о документах","operationId":"ErpContent_GetDocumentsList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetDocumentsListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpContent"],"summary":"Create document","description":"Create document","operationId":"ErpContent_CreateDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1DocumentParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Document"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/documents/{document_id}":{"get":{"tags":["ErpContent"],"summary":"Получить документ по ид","operationId":"ErpContent_GetDocumentById","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Document"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpContent"],"summary":"Change document","description":"Change document","operationId":"ErpContent_ChangeDocument","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1DocumentParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Document"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/faq":{"get":{"tags":["ErpContent"],"summary":"Получить список FAQ","operationId":"ErpContent_GetFaqList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetFaqListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpContent"],"summary":"Создать FAQ","description":"Создать FAQ","operationId":"ErpContent_CreateFaq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1FaqParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Faq"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/faq/{faq_id}":{"get":{"tags":["ErpContent"],"summary":"Get FAQ by id","operationId":"ErpContent_GetFaqById","parameters":[{"name":"faq_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Faq"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpContent"],"summary":"Edit FAQ","description":"Edit FAQ","operationId":"ErpContent_EditFaq","parameters":[{"name":"faq_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1FaqParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Faq"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/files/download/{bucket}/{filepath}/{filename}":{"get":{"tags":["ErpFiles"],"summary":"Получение пользовательских файлов","operationId":"ErpFiles_Download","parameters":[{"name":"bucket","in":"path","required":true,"schema":{"type":"string"}},{"name":"filepath","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/finance-operations":{"get":{"tags":["ErpFinanceOperations"],"summary":"Список финансовых операций","description":"Получить список финансовых операций для конструктора","operationId":"ErpFinanceOperations_GetFinanceOperationList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetFinanceOperationErpListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/finance-operations/{finance_operation_id}":{"post":{"tags":["ErpFinanceOperations"],"summary":"Cancel a finance operation","description":"Returns a changed finance operation","operationId":"ErpFinanceOperations_CancelFinanceOperation","parameters":[{"name":"finance_operation_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1RefundRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CancelFinanceOperationResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/news":{"get":{"tags":["ErpContent"],"summary":"Получить список новостей","operationId":"ErpContent_GetNewsList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetNewsListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpContent"],"summary":"Create news","description":"Create news","operationId":"ErpContent_CreateNews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreateNewsParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1News"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/news/features":{"get":{"tags":["ErpContent"],"summary":"Получить список фичей новостей","operationId":"ErpContent_GetNewsFeaturesList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetNewsFeaturesListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpContent"],"summary":"Create news features","description":"Create news features","operationId":"ErpContent_CreateNewsFeature","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1NewsFeatureParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1NewsFeature"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/news/features/{feature_id}":{"put":{"tags":["ErpContent"],"summary":"Edit news features","description":"Edit news features","operationId":"ErpContent_EditNewsFeature","parameters":[{"name":"feature_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1NewsFeatureParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1NewsFeature"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["ErpContent"],"summary":"Удалить фичу для новости","operationId":"ErpContent_DeleteNewsFeature","parameters":[{"name":"feature_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/news/{news_id}":{"get":{"tags":["ErpContent"],"summary":"Получить новость","operationId":"ErpContent_GetNewsById","parameters":[{"name":"news_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1News"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpContent"],"summary":"Edit news","description":"Edit news","operationId":"ErpContent_EditNews","parameters":[{"name":"news_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1EditNewsParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1News"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"},"patch":{"tags":["ErpContent"],"summary":"Change news","description":"Change news","operationId":"ErpContent_ChangeNews","parameters":[{"name":"news_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangeNewsParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1News"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/partners":{"get":{"tags":["ErpPartners"],"summary":"Информация о партнёрах","operationId":"ErpPartners_GetPartnerList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetPartnerListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpPartners"],"summary":"Создать партнера","operationId":"ErpPartners_CreatePartner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreatePartnerRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreatePartnerResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/partners/clients":{"get":{"tags":["ErpPartners"],"summary":"Получить список о клиентах","operationId":"ErpPartners_GetPartnerClientsList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetPartnerClientsListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/references":{"get":{"tags":["ErpPartners"],"summary":"Получить список справочников по партнёрам","operationId":"ErpPartners_GetReferences","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1PartnerReferences"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/settings":{"post":{"tags":["ErpPartners"],"summary":"Создать настройки для партнера","operationId":"ErpPartners_CreatePartnerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreatePartnerSettingsRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreatePartnerSettingsResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/partners/tasks":{"get":{"tags":["ErpPartners"],"summary":"Информация о списке загрузок данных для всех партнёров","operationId":"ErpPartners_GetPartnerAsyncTaskList","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetPartnerAsyncTaskListResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/tasks/{task_id}":{"post":{"tags":["ErpPartners"],"summary":"Отозвать партнерскую задачу на загрузку контента","operationId":"ErpPartners_CancelPartnerAsyncTask","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/tasks/{task_id}/{format}":{"get":{"tags":["ErpPartners"],"summary":"Получение отчета о партнерской задаче","operationId":"ErpPartners_DownloadPartnerAsyncTaskReport","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"format","in":"path","required":true,"schema":{"type":"string","enum":["REPORT_FORMAT_UNSPECIFIED","REPORT_FORMAT_XLSX","REPORT_FORMAT_CSV"]}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/apiHttpBody"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/{partner_id}":{"get":{"tags":["ErpPartners"],"summary":"Получить профиль партнера","operationId":"ErpPartners_GetPartnerById","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Partner"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpPartners"],"summary":"Изменение информации о партнёре","operationId":"ErpPartners_ChangePartner","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangePartnerRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangePartnerResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["ErpPartners"],"summary":"Деактивация партнера","operationId":"ErpPartners_DeletePartner","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/partners/{partner_id}/settings":{"get":{"tags":["ErpPartners"],"summary":"Получить настройки партнера","operationId":"ErpPartners_GetPartnerSettingsById","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1PartnerSettings"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["ErpPartners"],"summary":"Изменение настроек партнёра","operationId":"ErpPartners_ChangePartnerSettings","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangePartnerSettingsRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangePartnerSettingsResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/partners/{partner_id}/tasks":{"post":{"tags":["ErpPartners"],"summary":"Создать задачу на загрузку контента","operationId":"ErpPartners_CreatePartnerAsyncTask","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreatePartnerAsyncTaskRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1PartnerAsyncTask"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/partners/{partner_id}/tokens":{"post":{"tags":["ErpPartners"],"summary":"Создать токен для технического пользователя партнера","operationId":"ErpPartners_CreatePartnerToken","parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]}},"/v1/erp/products/categories":{"get":{"tags":["ErpProducts"],"summary":"Список категорий","operationId":"ErpProducts_GetCategories","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetCategoriesResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"post":{"tags":["ErpProducts"],"summary":"Создать категорию","operationId":"ErpProducts_CreateCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreateCategoryRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1CreateCategoryResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/products/categories/{category_id}":{"get":{"tags":["ErpProducts"],"summary":"Получение категории по ID","operationId":"ErpProducts_GetCategoryById","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Category"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["ErpProducts"],"summary":"Изменение информации по категории","operationId":"ErpProducts_ChangeCategory","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangeCategoryRequestParams"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1ChangeCategoryResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":3,"message":"api.validation_error"}}}},"401":{"description":"The API token is invalid or has expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":16,"message":"api.session_not_found_error"}}}},"403":{"description":"The API token does not grant access to this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":7,"message":"api.no_read_permission_error"}}}},"404":{"description":"The resource could not be located with the current API token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":5,"message":"api.entity_not_found"}}}},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1Error"},"example":{"code":13,"message":"api.internal_error"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gatewayruntimeError"}}}}},"security":[{"Bearer":[]}],"x-codegen-request-body-name":"body"}},"/v1/erp/products/product-in-categories":{"get":{"tags":["ErpProducts"],"summary":"Информация о продуктах в категориях","operationId":"ErpProducts_GetProductsInCategories","parameters":[{"name":"query","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pbv1GetProductsInCategoriesResponse"}}}},"400":{"description":"The request parameters did not conform to expectations","content":{"application/json":{"schema":{"$ref":"#/componen
[...]
